:root {
  --color-backdrop: rgba(244, 243, 240, 0.8);
  --color-primary: #ede7de;
  --color-text-primary: #025a4e;
  --color-text-secondary: #4c6763;
  --color-white50: rgba(255, 255, 255, 0.5);

  --font-sans: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-h1: clamp(3.2rem, 0.5692rem + 8.238vw, 13.75rem);

  --z-index-nav: 1000;
}

body, html {
  font-family: var(--font-sans);
  background: var(--color-primary);
  margin: 0rem 1rem;

  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */

  /* background: linear-gradient(-45deg, hsla(36, 31%, 90%, 1), rgb(177, 172, 164));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
  width: 100%; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */